<h2 class="article_popular_tags">Popular tags</h2>
<h4>
    <a href="{% url 'tag' %}">Techopark</a>
    <a href="{% url 'tag' %}">VK-education</a>
    <a href="{% url 'tag' %}">New-programs</a>
    <a href="{% url 'tag' %}">Positive</a>
    <a href="{% url 'tag' %}">Negative</a>
    <a href="{% url 'tag' %}">Future</a>
    <a href="{% url 'tag' %}">How-to-live</a>
</h4>
<h2 class="article_best_members">Best Members</h2>
<h4>
    <div class="row">
        <a class="best_members" href="google.com">Dmitrich_006</a>
    </div>
    <div class="row">
        <a class="best_members" href="google.com">Agent_007</a>
    </div>
    <div class="row">
        <a class="best_members" href="google.com">Ivancher_556</a>
    </div>
</h4>
