<h2 class="article_popular_tags">Popular tags</h2>
<h4>
    <a href="google.com">Techopark</a>
    <a href="google.com">VK-education</a>
    <a href="google.com">New-programs</a>
    <a href="google.com">Positive</a>
    <a href="google.com">Negative</a>
    <a href="google.com">Future</a>
    <a href="google.com">How-to-live</a>
</h4>
<h2 class="article_best_members">Best Members</h2>
<h4>
    <div class="row">
        <a class="best_members" href="google.com">Dmitrich_006</a>
    </div>
    <div class="row">
        <a class="best_members" href="google.com">Agent_007</a>
    </div>
    <div class="row">
        <a class="best_members" href="google.com">Ivancher_556</a>
    </div>
</h4>
