{% load static %}

<div class="row question_billboard">
    <div class="col-2">
        <div class="avatar">
            <h5>{{ question.profile_id }}</h5>
            <img src="{{ question.profile_id.avatar.url }}" width="80" height="80">
        </div>
    </div>

    <div class="col-8 question_text">
        <div class="row">
            <a href="{% url 'question' question.id %}" class="font-26 align_left">{{ question.title }}</a>
        </div>
        <div class="row">
            {{ question.text }}
        </div>
    </div>

    <div class="col-1">
        <a href="{% url 'question' question.id %}" class="answers">#answers({{ question.number_of_answers }})</a>
    </div>

    <div class="row">
        <div class="col-1">
            <h5>Tags:</h5>
        </div>
        <div class="col-7">
            {% for tag in question.tags.all %}
                <a href="{% url 'question_by_tag' tag %}"> #{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="col-4">
            {% include "include/like_dislike.html" with question_parameters=question%}
        </div>
    </div>

</div>