main > .my_container {
    padding: 80px 15px 0;
    margin-right: 100px;
    margin-left: 100px;
}

.article_popular_tags {
    text-align: center;
    margin: 0px 0px 20px 0px
}

.popular_tags {
    margin: 80px 10px;
    padding: auto;
}

.article_best_members {
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.best_members {
    text-align: center;
    margin: 10px 0px
}

.text_area_articles {
    margin: 30px 0px 10px 30px;
}

.text_area {
    width: 100%;
    margin: 30px 0px 10px 0px;
    border: 3px solid gray;
    border-radius: 5px;
}

#button_question_push {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    vertical-align: middle;
    max-width: 150px;
    background: #b85f1c;
    color: white;
    border-radius: 3px;
}

.title_margin {
    margin: 15px 0px;
}