<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
    <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon">

    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

{% include 'include/navbar.html' %}

<main class="flex-shrink-0">
    <div class="my_container">
        <div class="row margin-top-20">
            <div class="col-8">

                {% block content %}

                {% endblock %}

            </div>
            <div class="col-4">
                {% include 'include/popular.html' %}
            </div>
        </div>
    </div>
</main>
</body>
</html>